.container {
  width: 350px;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 10vh;
  margin-right: 220px;
}

.screen {
  background-color: rgb(133, 134, 147);
  text-align: right;
  height: 2rem;
  padding: 0.4em;
  font-size: 1.4em;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons {
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  height: 200px;
}

.button {
  border: none;
  height: 2rem;
  width: 5em;
  font-size: inherit;
  font-weight: bold;
  cursor: pointer;
  padding: 1em;
  box-sizing: content-box;
}

button:hover {
  background-color: whitesmoke;
}

button.orange:hover {
  background-color: rgb(255, 176, 30);
}

.buttons .double {
  grid-column: span 2;
  width: 100%;
}

.buttons .orange {
  background-color: rgb(243, 137, 17);
}
